h1, h2, h3, h4, h5, h6 {

color:#ffffff;
font-family:'Segoe UI';

}
p, ul {
color:#ffffff;
font-family:'Segoe UI';

font-size:1.25em;
}
body {
    background-color:#af9270;
}
#headerMessage1 {

color:#ffffff;
font-family:'Segoe UI';
vertical-align:middle;

}
.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

