h1, h2, h3, h4, h5, h6 {
color:#ffffff;
font-family:Berlin Sans FB Demibold;
text-align: center;
}
p {
color:#ffffff;
font-family:Berlin Sans FB;
text-align: center;
font-size:1.25em;
}
body {
    background-color:#914a4a;
}
img {
    border-radius: 30px;
    border-style:solid;
    border-color:#541515;
    border-width: 4px;
}